<ion-header>
  <ion-navbar color="dark"> 
    <ion-title>User Profile</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="top" *ngIf="user">

    <img *ngIf="user.picture" src="{{uploads}}/users/{{user.picture}}"/> 
    
    <h2>{{user.firstname}} {{user.lastname}} </h2>
    <p>{{user.title}}</p>  
  </div>
  <ion-list *ngIf="user" class="info" padding>
    <ion-item text-wrap>
      <i class="fa fa-calendar" item-start></i>
      <p>{{user.dob}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-flag" item-start></i>
      <p>{{user.nationality}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-transgender" item-start></i>
      <p>{{user.gender}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-phone" item-start></i>
      <p>{{user.phone}}</p>
    </ion-item>
    <ion-item text-wrap>
      <i class="fa fa-map-marker" item-start></i>
      <p>{{user.address}}</p>
    </ion-item>
  </ion-list>

  <div *ngIf="user && user.type === 'Candidate'">
    <div padding [hidden]="applied">
      <button ion-button color="dark" block (click)="offerUserEmployment(user)">Offer Employement</button>
    </div>
    <div padding [hidden]="!applied">
      <button ion-button color="dark" block (click)="confirmWithdrawAppointment(user)">Cancel Appointment</button>
    </div>
  </div>
 
</ion-content>
    