<ion-header>
  <ion-navbar color="dark"> 
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end> 
      <button ion-button (click)="dismiss()">
        Cancel
      </button>  
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user" padding>
    <form novalidate #editProfileForm="ngForm">
      <ion-item> 
        <i class="fa fa-phone" item-start></i>
        <ion-input type="tel" name="phone" [(ngModel)]="data.phone" required pattern="[0-9]{10,15}"
        #phone="ngModel" placeholder="Phone number"></ion-input>
      </ion-item>
      <div class="form-validation">
        <div *ngIf="phone?.errors && (phone.dirty || phone.touched)">
          <p *ngIf="phone?.errors.required">Phone number is required</p>
          <p *ngIf="phone?.errors.pattern">Invalid phone number</p>
        </div>
      </div>

      <ion-item>
        <i class="fa fa-map-marker" item-start></i>
        <ion-input (ionFocus)="showAddressModal()" name="address" [(ngModel)]="data.address" placeholder="Home address" type="text"></ion-input>
      </ion-item>
    </form> 
  </ion-list>

  <div padding class="but">
    <button ion-button color="dark" block [disabled]="editProfileForm?.invalid" (click)="updateDetails()">Update Details</button>
  </div>
 
</ion-content>
    