<ion-header>
    <ion-navbar color="dark"> 
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
      <ion-buttons end> 
        <button ion-button icon-only (click)="editProfile()">
          <ion-icon name="create"></ion-icon>
        </button>  
      </ion-buttons> 
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div class="top" *ngIf="profile">
      <ion-item class="profile" tappable (click)="presentUploadImageActionSheet()">
        <img *ngIf="profile.picture" src="{{uploads}}/users/{{profile.picture}}"/> 
      </ion-item>
      <h2>{{profile.firstname}} {{profile.lastname}} </h2>
      <p>{{profile.title}}</p>   
    </div>
    <ion-list *ngIf="profile" class="info" padding> 
      <ion-item text-wrap>
        <i class="fa fa-transgender" item-start></i>
        <p>{{profile.gender}}</p>
      </ion-item>
      <ion-item text-wrap>
        <i class="fa fa-flag" item-start></i>
        <p>{{profile.nationality}}</p>
      </ion-item>
      <ion-item text-wrap>
          <i class="fa fa-calendar" item-start></i>
          <p>{{profile.dob}}</p>
      </ion-item>
      <ion-item text-wrap>
        <i class="fa fa-phone" item-start></i>
        <p>{{profile.phone}}</p>
      </ion-item>
      <ion-item text-wrap>
        <i class="fa fa-map-marker" item-start></i>
        <p>{{profile.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
      