<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- recruiter appointments -->
  <ion-list *ngIf="profile && profile.type === 'Recruiter'">
    <ion-item *ngFor="let user of recAppointments" tappable (click)="viewUserProfile(user)">
      <ion-avatar item-start>
        <img *ngIf="user.picture" src="{{uploads}}/users/{{user.picture}}"/> 
      </ion-avatar>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.title}}</p> 
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="!recAppointments || (recAppointments && recAppointments.length < 1)"> 
      <p> You do not have appointments</p>
    </ion-item>
  </ion-list> 

  <!-- candidate appointments -->
  <ion-list *ngIf="profile && profile.type === 'Candidate'">
    <ion-item *ngFor="let user of canAppointments" tappable (click)="viewUserProfile(user)">
      <ion-avatar item-start>
        <img *ngIf="user.picture" src="{{uploads}}/users/{{user.picture}}"/> 
      </ion-avatar>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p>{{user.title}}</p> 
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="!canAppointments || (canAppointments && canAppointments.length < 1)"> 
      <p> You do not have appointments</p>
    </ion-item>
  </ion-list> 

</ion-content>
